#### python爬蟲下載檔案
#### Save a file downloaded from requests in the same foleder.

截至2017年8月3日，勞動力市場狀況指數（LMCI）的更新已經停止

The latest estimate of the LMCI is posted as a comma-separated values (CSV) file at the URL 
https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=FRBLMCI&scale=left&cosd=1976-08-01&coed=2017-06-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Monthly&fam=avg&fgst=lin&fgsnd=2009-06-01&line_index=1&transformation=lin&vintage_date=2019-03-15&revision_date=2019-03-15&nd=1976-08-01

Data Release: https://fred.stlouisfed.org/series/FRBLMCI.

In [8]:
# coding: UTF-8
import requests
url = "https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=FRBLMCI&scale=left&cosd=1976-08-01&coed=2017-06-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Monthly&fam=avg&fgst=lin&fgsnd=2009-06-01&line_index=1&transformation=lin&vintage_date=2019-03-15&revision_date=2019-03-15&nd=1976-08-01"

##### Use Pandas to read in CSV file from URL

In [9]:
import pandas as pd # 引用套件並縮寫為 pd  
df = pd.read_csv(url) # read CSV file from URL
#df.columns.values
df = df.rename(columns={'DATE': 'Date','FRBLMCI': 'Value'})
df.head(20) # 呈現出前 20 筆資料

          Date  Value
0   1976-08-01    0.5
1   1976-09-01    0.5
2   1976-10-01   -0.6
3   1976-11-01    7.4
4   1976-12-01   12.2
5   1977-01-01   15.3
6   1977-02-01   16.5
7   1977-03-01   20.0
8   1977-04-01   16.7
9   1977-05-01   11.4
10  1977-06-01    8.0
11  1977-07-01    6.5
12  1977-08-01    6.7
13  1977-09-01    9.4
14  1977-10-01    7.6
15  1977-11-01    6.3
16  1977-12-01    2.6
17  1978-01-01    1.1
18  1978-02-01   10.7
19  1978-03-01   21.8

#### Save as pkl file.

In [10]:
import pickle

with open('LMCI.pkl', 'wb') as f:
    pickle.dump(df, f)